html {
    font-family: Nunito Sans;
}

.image { /*фон*/
    background-image: url("hero.jpg");
    height: 700px;
    background-position: top;
    background-size: cover;
}
.logo {/*логотип*/
    width: 100px;
    height: 100px;
    z-index: 100;
}
.menu {
    color: rgb(7, 7, 7);
    display: inline-block;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 0px; 
}
.menu:hover {
   color: red;
}
h1 {
    font-size: 60px;
    font-weight: 800;
    margin-top: 165px;
    margin-bottom: 60px;
    margin-left: 0px;
    padding-bottom: auto;
}
p {
    font-size: 20px;
    margin-left: 0px;
    color: #44403c;
}
.header {
    margin: auto;
    width: 100%; 
    max-width: 1024px;
}
.header-button {
margin-left: 0px;
margin-right: 20px; 
margin-top: 50px;
}
.button {/*кнопка*/
font-family: Nunito Sans;
text-decoration: none;
font-size: 20px;
font-weight: 600;
color: white;
background: #f97316; /* Цвет фона */
padding: 12px 30px 12px 30px; /* Поля вокруг текста */
border-radius: 5px; /* Уголки */
text-align: center;
border: none;
 outline: none;
} 
.button:hover {
   background-color: #ea580c;
}
.contacts1 {
    font-size: 16px;
    font-weight: 500;
    color: #1c1917;
}
.contacts {
display: flex;
margin: auto;
font-size: 17px;
justify-content: flex-end; 
align-items: center;
}
.title {/*заголовок*/
    margin: auto;
    width: 100%; 
    max-width: 1024px;
    display: flex;
    justify-content: center;
}
.title_tit{
    font-size: 35px;
    font-weight: 600;
    margin-top: 100px;
}
.benefits {/*фон блоков*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 100px;
margin-right: 100px;
margin: auto;
    width: 100%; 
    max-width: 1024px;
}
.benefit {
background-color: #fafaf9;
border-radius: 5px;
width: 320px;
height: 250px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.background_orange {
background-color: #f97316;
border-radius: 5px;
width: 50px;
height: 50px;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.icon {/*иконки*/
    font-size: 20px;
    color: white;
}

.title_block3 {/*заголовок блок-3*/
    font-size: 28px;
    font-weight: 600;
    margin-top: 100px;
}
.text {
font-size: 16px;
margin-top: 20px;
line-height: 1.3;

}
.group-people {/*картинка люди*/
width: 500px;
height: 350px;
float: right;
margin: auto;
margin-top: -100px;
margin-left: 20px;

}
.block4 {
background-color: #ffedd5;
margin-top: 100px;  
padding-bottom: 50px;

}
.tit-block4 {/*заголовок блок-4*/
margin-top: 80px;
}
.text-block4 {
display: flex;
justify-content: center;
margin-top: -50px;
font-size: 18px;

}
.block4-button {/*кнопка блока-4*/
display: flex;
justify-content: center;
margin-top: 60px;
}
.form_input {
width: 250px;
height: 45px;
border-radius: 5px;
margin-right: 10px;
font-size: 20px;
outline: none;
}
.form_input:focus {
    outline: none;
}

.block5 {
background-color: #FAFAF9;  
margin: auto;
padding-bottom: 50px;
}
#tit-block5 {/*заголовок блока-6*/
font-size: 40px;
 font-weight: 600;
 margin-top: 100px;

}
.reviews {
margin-left: 200px;
margin-top: 10px;      
}
.reviews-text {/*отзывы заголовок*/
margin-bottom: 5px;
margin-top: 20px;
}
.reviews-text2{/*отзывы*/
font-size: 15px;
line-height: 1.3;
}
.line {/*полоска*/
border-bottom: 1px solid #d6d3d1;
margin-top: 25px;
margin-right: 260px;
}

#tit-block6 {/*заголовок блока-6*/
font-size: 40px;
margin-top: 100px;
}
.rates {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.border {/*рамки*/
display: flex;
justify-content: space-between;
flex-direction: column;
border: solid;
border-color:#d6d3d1 ;
border-width: 1px;
border-radius: 10px;
width: 25%;
padding-right: 20px;
padding-left: 20px;
padding-top: 50px;
padding-bottom: 30px;
}
.price-month {/*текс в рамке*/
color: #f97316;

}
.price-lesson {/*текс в рамке*/

font-weight: 600;
}
.lesson {/*текс в рамке*/
margin-top: 20px;

font-size: 15px;
}
.button-block {/*кнопка блока-6*/

    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #f97316;
background: #ffedd5; /* Цвет фона */
padding: 10px 10px 10px 10px; /* Поля вокруг текста */
border-radius: 5px; /* Уголки */
text-align: center;
border: none;
 outline: none;
 margin-top: 50px;
 
}
.button-block:hover {
background-color: #fed7aa;
}
.Contact-Information {
background-color: #d6d3d1;
margin-bottom: 50px;
padding-bottom: 50px;
display: flex;
justify-content: space-around;
padding-top: 60px;
margin: auto;
margin-top: 150px;
}
.phone-logo {
color: #78716c;
margin-right: 20px;
}
.social-networks{
font-size: 25px;
color: #78716c;

}

.email-email {
font-size:15px ;
}
.content {
    margin: auto;
    width: 100%; 
    max-width: 1024px;
}
.benifit_title {
    text-align: center;
}
.benifit_text {
    text-align: center;
}
.contact {
display: flex;
font-size: 15px;
}
.benifit_title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
.benifit_text {
    color: #44403c;
    line-height: 1.5;
    margin-bottom: 
}
.fa-check {
    color: #65a30d;
    font-size: 12px;
    font-weight: 200;
    margin-right: 5px;
}